/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.news-item__title a {
  text-decoration: none;
  color: #2a2d32;
  text-transform: capitalize;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
}

.clr {
  *zoom: 1;
}

.clr:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.top-head {
  width: 100%;
  padding-top: 35px;
}

.header {
  padding-bottom: 35px;
}

.logo {
  width: 220px;
  float: left;
}

.logo a {
  display: block;
  text-decoration: none;
  padding-left: 48px;
  background: url("../../images/logo-header.jpg") left center no-repeat;
  color: #434343;
  font-family: Ubuntu, sans-serif;
  line-height: 10px;
}

.logo__title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 28px;
}

.logo__txt {
  font-weight: 300;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.social-ico {
  float: right;
  margin-top: 12px;
}

.social-ico__item {
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-left: 5px;
  background: url(../../images/social-sprite.png) no-repeat;
}

.social-ico__item:nth-child(1) {
  background-position: 6px 0;
}

.social-ico__item:nth-child(1):hover {
  background-position: 6px -16px;
}

.social-ico__item:nth-child(2) {
  background-position: -10px 0;
}

.social-ico__item:nth-child(2):hover {
  background-position: -10px -16px;
}

.social-ico__item:nth-child(3) {
  background-position: -27px 0;
}

.social-ico__item:nth-child(3):hover {
  background-position: -27px -16px;
}

.social-ico__item:nth-child(4) {
  background-position: -44px 0;
}

.social-ico__item:nth-child(4):hover {
  background-position: -44px -16px;
}

.social-ico__item:nth-child(5) {
  background-position: -61px 0;
}

.social-ico__item:nth-child(5):hover {
  background-position: -61px -16px;
}

.navigate {
  background-color: #2a2d32;
  font: "Ubuntu Condensed", sans-serif;
  margin-bottom: 40px;
}

.navigate__item {
  display: inline-block;
}

.navigate__link {
  display: block;
  height: 56px;
  border-right: 1px solid #181a1d;
  padding: 0 40px;
  line-height: 56px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.navigate__link:hover {
  color: #f4b60d;
}

.navigate-form {
  float: right;
  position: relative;
}

.navigate-form__search {
  color: #fff;
  padding: 0 25px 0 15px;
  background-color: #35383c;
  border: 1px solid #181a1d;
  width: 240px;
  height: 40px;
  font-size: 12px;
  margin: 8px;
}

.navigate-form__search:focus {
  outline: none;
  background-color: #6C727A;
}

.navigate-form__submit {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  background: transparent url("../../images/search.png") no-repeat center;
  border: none;
  cursor: pointer;
}

.navigate-form__submit:focus {
  outline: none;
}

.owl-carousel {
  position: relative;
}

.owl-carousel__item img {
  display: block;
  width: 100%;
  height: auto;
}

.item-title {
  font-size: 54px;
  font-family: Ubuntu, sans-serif;
  position: absolute;
  bottom: 40px;
  left: 40px;
  text-transform: uppercase;
  color: #fff;
}

.item-title__top {
  position: relative;
  width: 215px;
  height: 114px;
  padding: 30px 0 0 30px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.item-title__top span {
  color: #f4b60d;
}

.item-title__bottom {
  width: 310px;
  padding: 25px 0 25px 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.owl-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.features {
  padding: 70px 0 85px;
}

.features-item {
  display: inline-block;
  width: 33%;
}

.features-item__ico {
  height: 32px;
  width: 32px;
  background: url("../../images/advantage-sprite.png") no-repeat;
}

.features-item:nth-child(1) .features-item__ico {
  background-position: 0 0;
}

.features-item:nth-child(2) .features-item__ico {
  background-position: -32px 0;
}

.features-item:nth-child(3) .features-item__ico {
  background-position: -65px 0;
}

.features-item:nth-child(3) .features-item__inner-wrap {
  padding-right: 0;
}

.features-item__num {
  vertical-align: top;
  float: left;
  font-size: 90px;
  font-family: Ubuntu, sans-serif;
  color: rgba(42, 43, 46, 0.1);
}

.features-item__inner-wrap {
  padding: 0 25px 0 120px;
}

.features-item__title {
  color: #2a2b2e;
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
  padding: 20px 0 30px;
}

.features-item__txt {
  font-size: 13px;
  color: #8a8a8a;
  line-height: 20px;
  padding-bottom: 25px;
}

.features-item__link {
  text-decoration: none;
  color: #2a2b2e;
  font-size: 13px;
  font-family: Ubuntu, sans-serif;
}

.features-item__link:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 9px;
  margin-left: 5px;
  background: url("../../images/read-link.png") right no-repeat;
  transition: all .3s;
}

.features-item__link:hover {
  color: #248cec;
}

.features-item__link:hover:after {
  background-position: left;
}

.services {
  min-width: 1160px;
  background: #2a2d32;
  color: #fff;
  padding: 45px 0 65px 0;
}

.services h4 {
  font-size: 24px;
  font-family: Ubuntu, sans-serif;
  margin-bottom: 50px;
}

.gallery {
  font-size: 0;
}

.gallery-item {
  display: inline-block;
}

.gallery-item:not(:last-child) {
  margin-right: 40px;
}

.gallery-item__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
}

.gallery-item__link:hover {
  color: #f4b60d;
}

.gallery-item__image {
  display: block;
  max-width: 260px;
}

.gallery-item__title {
  margin-top: 30px;
}

.news-banners {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.news-banners h3 {
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  color: #2a2d32;
  margin-bottom: 45px;
}

.news-wrap {
  float: left;
  width: 50%;
}

.news-item {
  margin-bottom: 30px;
  font-size: 13px;
  color: #8a8a8a;
}

.news-item__image {
  float: left;
  position: relative;
}

.news-item__leftside {
  margin-left: 180px;
}

.news-item__calendar {
  position: absolute;
  top: 12px;
  left: -15px;
}

.news-item__month, .news-item__date {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-family: Ubuntu, sans-serif;
  color: #fff;
  background-color: #248cec;
}

.news-item__date {
  background-color: #f4b60d;
  color: #2a2d32;
}

.news-item__title {
  padding: 10px 0;
}

.news-item__title a:hover {
  color: #248cec;
}

.news-item__comments {
  margin-bottom: 30px;
}

.news-item__comments a {
  text-decoration: none;
  color: #0187f4;
}

.news-item__text {
  line-height: 20px;
}

.banners-wrap {
  float: right;
  width: 50%;
}

.accordeon-item {
  margin-bottom: 5px;
}

.accordeon-item__header {
  cursor: pointer;
  font-size: 0;
  text-transform: uppercase;
  background-color: #fff;
  height: 40px;
  color: #2a2d32;
  border: 1px solid #e8e8e8;
}

.accordeon-item__header:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.accordeon-item__header--open {
  background-color: #f4b60d;
  color: #fff;
  border: 1px solid transparent;
}

.accordeon-item__header--open .accordeon-item__title {
  border-left: 1px solid rgba(232, 232, 232, 0.5);
}

.accordeon-item__header--open .accordeon-item__ico:after {
  content: "-";
}

.accordeon-item__ico {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 40px;
  vertical-align: top;
}

.accordeon-item__ico:after {
  width: 100%;
  content: "+";
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.accordeon-item__title {
  height: 40px;
  padding-left: 15px;
  line-height: 40px;
  font-size: 13px;
  font-family: Ubuntu, sans-serif;
  vertical-align: top;
  display: inline-block;
  border-left: 2px solid #e8e8e8;
}

.accordeon-item__article {
  padding: 25px 35px;
  font-size: 13px;
  color: #8a8a8a;
  line-height: 20px;
}

.brand {
  padding: 100px 0;
}

.brand__list {
  font-size: 0;
}

.brand__item {
  width: 16.65%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.brand__link {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.brand__link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

footer {
  padding: 60px 0;
  background-color: #2a2d32;
}

.foot-menu {
  font-size: 0;
}

.foot-menu__item {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  color: #fff;
  display: inline-block;
  width: 25%;
}

.foot-menu__item h4 {
  margin-bottom: 40px;
}

.foot-submenu {
  margin-right: 40px;
}

.foot-submenu__item {
  padding: 10px 0;
}

.foot-submenu__item:not(:last-child) {
  border-bottom: 1px solid #393c40;
}

.foot-submenu__item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
  font-family: Arial, sans-serif;
  font-size: 13px;
  transition: all 1s;
}

.foot-submenu__item a:hover {
  color: #248cec;
}

.contacts_copy {
  background-color: #35383c;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

.contacts {
  float: left;
}

.contacts div {
  display: inline-block;
}

.copy {
  float: right;
}
